<h1> Search History </h1>

<div data-ng-repeat="history in historyVm.histories">

    <h2>{{history.carMake.toUpperCase()}} {{history.carModel.toUpperCase()}} within {{history.radius}} miles of {{history.zipCode}} zipcode </h2>
    <div data-ng-repeat="comment in history.comments">
    <p>{{comment.body}}</p>
    <p>Comment by {{comment.author}}</p>
    </div>

    <form>
      <input value="history.newcomment.author" data-ng-model="history.newcomment.author" placeholder="Author"/>
      <input value="history.newcomment.body" data-ng-model="history.newcomment.body" placeholder="Body" />
      <button data-ng-click="historyVm.create({id: history.id, author: history.newcomment.author, body: history.newcomment.body})">Create Comment</button>
    </form>

    <button data-ng-click="historyVm.destroy({id: history.id})">Delete</button>
</div>
