html {
 margin-left:10vw;
 margin-right:10vw;
}

body {
  background-color: white;
}

h1, p {
  color: black
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}

h1 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

a, a:visited {
  text-decoration: none;
  color: black;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}

a:hover {
  background-color: #4d4d4d;
}

.logo {
  display: block;
  margin: 0 auto;
  max-height: 65px;
}

li {
  display: inline-block;
  padding: 20px;
  margin: 0 auto;
}

ul {
  text-align: center;
  background-color: #dddddd;
  font-size: 20px;
  padding-bottom: 10px;
  margin: 5px;
  width: 86.9%;
  height: 55px;
}

.searchpage {
  display: inline;
}

.searchbox {
  margin: 0px 10px 10px 10px;
  float: left;
  display: inline-block;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 15.4px;
}

.searchbox input {
  width: 180px;
}

.searchbox button {
  width: 204px;
}

input,
button {
  padding: 10px;
  font-size: 15px;
  margin: 5px;
}

.graph {
  float: left;
  width: 68%;
  margin-right: 10px;
  min-width: 310px;
  height: 400px
}

.searched {
  margin: 10px;
  padding: 10px;
  font-size: 1.5em;
  background-color: rgb(238, 238, 238);
  width: 91.5%;
  text-align: center;
}

.commentbox{
  border-style: solid;
  border-width: 1px;
  border-color:gray;
  margin: 20px auto 40px auto;
  padding:5px;
  width:91.5%;
}

.comment, .author {
  padding: 0 0 0 20px;
  text-align: center;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
  font-size:.9em;
}

.author {
  color: purple;
}

.info {
  margin-left: 20px;
  width: 86.9%;
}

.teampic {
  margin: 0 auto;
}

.teampic img {
  height: 300px;
  padding: 0;
  border-radius: 50%;
  border-color: black;
  border: thin;
  width: 32%;
}
