body {
  background-color: solid white;
}

li {
  display: inline;
  padding: 20px;
}

ul {
  background-color: #dddddd;
  padding: 10px;
  font-size: 20px;
}

.logo {
  margin: auto 20px;
  height: 40px;
  background-color: #dddddd;
  display: inline;
}

button {
  padding: 10px;
  font-size: 15px;
}

input {
  padding: 10px;
  font-size: 15px;
  margin: 5px;
}

.teampic img {
  height: 300px;
  margin auto;
  padding: 0;
}

.searchpage {
  display: inline;
}

.searchbox{
  float: left;
  width: 25%;
  display: inline-block;
}

.graph {
  float: left;
  display: inline-block;
  width: 75%
}

a, a:visited {
  text-decoration: none;
  color: black;
  font-weight: lighter;
  margin-bottom:
}
a:hover {
  color: purple;
}
