html {
 margin-left:10vw;
 margin-right:10vw;
}

body {
  background-color: white;
}

h1, h2, h3, p {
  color: black
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}

h1, h2, h3 {
  font-size: 20px;
}
h3 {
  color: purple;
}

p {
  font-size: 18px;
}

li {
  display: inline-block;
  padding: 20px;
  margin: 0 auto;
}

ul {
  text-align: center;
  background-color: #dddddd;
  padding: 15px;
  font-size: 20px;
  margin: 15px;
  width: 86.9%;
}

/*li img {
  margin: auto 20px;
  height: 30px;
}*/

button {
  padding: 10px;
  font-size: 15px;
}

input {
  padding: 10px;
  font-size: 15px;
  margin: 5px;
}

.teampic img {
  height: 300px;
  margin: 0 auto;
  padding: 0;
  border-radius: 50%;
  border-color: black;
  border: thin;
}

.searchpage {
  display: inline;
}

.searchbox{
  margin: 0px 10px 10px 10px;
  float: left;
  display: inline-block;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}

.graph {
  float: left;
  width: 70%;
  margin-right: 10px;
}

a, a:visited {
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

.logo {
  display: block;
  margin: 0 auto;
  height: 10%;
}

a:hover {
  background-color: #4d4d4d;
}

.commentbox{
  border-style: solid;
  border-width: 1px;
  border-color:gray;
  margin: 20px 20px 40px 20px;
  padding:5px;
  width:91.5%;
}

.searched {
  margin: 10px;
  padding: 10px;
  font-size:1.5em;
  background-color: rgb(238, 238, 238);
  width:91.5%;
  text-align:center;
}

.comment, .author {
  padding: 0 0 0 20px;
  text-align: center;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
  font-size:.9em;
}

.author {
  color: purple;
}

input {
  font-size: .9em;
}

.info {
  margin-left: 20px;
  width: 86.9%;
}
