body {
  background-color: solid white;
  color: black
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}

li {
  display: inline;
  padding: 20px;
  margin: 0 auto;
}

ul {
  text-align: center;
  background-color: #dddddd;
  padding: 10px;
  font-size: 20px;
  margin: 20px auto;
  padding: 5px;
}

li img {
  margin: auto 20px;
  height: 70px;
}

button {
  padding: 10px;
  font-size: 15px;
}

input {
  padding: 10px;
  font-size: 15px;
  margin: 5px;
}

.teampic img {
  height: 300px;
  margin auto;
  padding: 0;
}

.searchpage {
  display: inline;
}

.searchbox{
  float: left;
  width: 25%;
  display: inline-block;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15.4px;
}

.graph {
  float: left;
  display: inline-block;
  width: 75%
}

a, a:visited {
  text-decoration: none;
  color: black;
  margin-bottom: 5px;
  font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}

.logo {
 text-align: center;
 margin:0 auto;
 height:8vh;
};

a:hover {
  color: blue;
}
